* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    display: none;
}
body {
    font: 16px sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
    overflow: hidden;
    background: #7d7d7d;
}

body > * {
    padding: 10px;
    position: fixed;
    overflow: scroll;
    background: #232323;
}

header {
    width: 26vw;
    height: 80vh;
    bottom: 0;
    right: 0;
}

article{

    width: 23.4vw;
    height: 51.4vh;
    bottom: 0;
    left: 0;


}

 #title {

    font-family: "Impact";
    font-size: 8vh;
    color: orange;
    text-align: center;
    top: 0;
    left: 26vw;




}

#timer {

    top: 2vh;
    left: 2vh;
    font-family: "Impact";
    display: inline;
    height: 20vh;
    width: 20vw;
    font-size: 20vh;
    line-height: .8;
    color: #00d500;
    background-color: #232323;
    text-align: center;


}

#robotConnection {

    bottom: 5vh;
    left: 60vh;
    backgrond-color: #232323;
    color: orange;
    hight: 15vh;
    width: 80vh;
    text-align: center;
    font-size: 5vh;
    border-bottom: groove;
    border-bottom-color: darkorange;




}



#triOne {

    transform-origin: center;
}

#fieldDisplay{

    bottom: 20vh;
    right: 53vh;
    width: 100vh;
    height: 50vh;
    background-color: #232323;
    border-style: groove;
    border-color: darkorange;
    border-width: 1vh;


}


