* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    display: none;
}
body {
    font: 16px sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: orange;
    overflow: hidden;
    background: #232323;
}

button,
input[type="text"],
input[type="number"],
.select-container,
select {
    color: black;
    background: #7d7d7d;
    border: inset;
    border-color: darkorange;
    font-size: 14px;
    padding: 10px 8px;
    cursor: hand;
    outline: 0;

}

button,
input[type="text"],
input[type="number"],
.button-group1,
button {

  border-color: darkorange;
    display: block;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: blink;
    outline: none;
    color: #222222;

}

button:hover {

    background-color: darkorange;
}

button:active {

    background-color: orange;
    transform: translateY(2px);
}

body > * {
    padding: 10px;
    position: fixed;
    overflow: scroll;
    background: #232323;
}

header {
    width: 26vw;
    height: 80vh;
    bottom: 0;
    right: 0;
}

article{


    width: 23.4vw;
    height: 51.4vh;
    bottom: 0;
    left: 0;


}

#timer {
    font-family: sans-serif;
    display: inline;
    height: 20vh;
    width: 26vw;
    top: 0;
    right: 0;
    font-size: 20vh;
    line-height: .8;
    color: #00d500;
    background-color: #232323;
   text-align: center;
}

#driveSelect {

    width: 20vw;
    display: inline;
    color: #222222;

}

#controlSelect {

    width: 20vw;
    display: inline;
    color: #222222;

}

#button1{

    border: outset;
    border-color: darkorange;
}

#button2{

    border: outset;
    border-color: darkorange;
}

#button3{

    border: outset;
    border-color: darkorange;
}

#Name{
    font-family: sans-serif;
    display: inline;
    height: 10vh;
    width: 60vw;
    top: 1.5vw;
    left: 18.5vw;
    font-size: 7vh;
    line-height: .8;
    color: darkorange;
    text-align: center;


}

#camera {
    padding: 0;
    position: fixed;
    top: 15vh;
    left: 25vw;
    width: 47vw;
    height: 65vh;
    overflow: hidden;
    background-color: whitesmoke;
    background-size: cover;
    background-image: url('http://Irrational.local:8080/cam.mjpg');
    image-rendering: optimizeSpeed;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixilated;
    image-rendering: optimize-contrast;
    border: inset;
    border-color: darkorange;
}

#robotConnection{

    text-align: center;
    color: darkorange;
    bottom: 6vh;
    left: 80.5vh;
    font-size: 25px;
}

#timeWarning {
    background-color: transparent;
    z-index: 1;
    position: absolute;
    text-align: center;
    color: red;
    bottom: 40vh;
    right: 94vh;
    font-size: 75px;
    font-family: "Impact";


}

#rotationDisplay{


    top: 0;


}

#rotationDial{

    transform-origin: center;


}

